@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
  background-size: cover;

  background-repeat: no-repeat;
  background-image: url(pexels-kenneth-christopher-248506783-15665558.jpg);
}
#navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  height: 60px;
  position: sticky;
}

a {
  color: rgb(8, 7, 7);
  text-decoration: none;
  margin-left: 20px;
  transform: scale(1);
  transition: all 0.3s ease;
  display: inline-block;
}

a:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
p {
  backdrop-filter: blur(22px);
  color: white;
  font-size: 30px;
}

h1 {
  backdrop-filter: blur(22px);
  color: white;
}
