@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins, Arial, Helvetica, sans-serif;
}
body {
  background-repeat: no-repeat;
  background-size: 140rem;
  background-image: url(pexels-kishanjose-16456875.jpg);
}
#navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  height: 60px;
  position: sticky;
}

a {
  color: rgb(8, 7, 7);
  text-decoration: none;
  margin-left: 20px;
  transform: scale(1);
  transition: all 0.3s ease;
  display: inline-block;
}

a:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

details {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 10px 0;
  background: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

summary {
  cursor: pointer;
  font-weight: bold;
}

summary::-webkit-details-marker {
  display: none;
}

.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
}

details[open] .faq-content {
  max-height: 200px; /* set big enough to fit text */
}
h2 {
  color: white;
}
