@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins, Arial, Helvetica, sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(pexels-gowtham-agm-609630353-20309652.jpg);
}

.reg {
  display: inline-block;
  height: 3rem;
  width: 20rem;
  border-radius: 20px;
}
form {
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 350px;
  flex-direction: column;
  backdrop-filter: blur(22px);
  background-color: rgba(49, 45, 45, 0.027);
  border-radius: 30px;
  width: 30rem;
  border-top: 1px solid rgba(255, 255, 255, 0.4);

  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

input {
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.reg:hover {
  border-color: cyan;
  box-shadow: 5px 5px 5px cyan;
}

button {
  height: 2rem;
  width: 6rem;
  border-radius: 30px;
  transition: all 0.3s ease;
}

button:hover {
  width: 8rem;
  background-color: grey;
  box-shadow: 10px 5px 5px black;
}
