@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: poppins, Arial, Helvetica, sans-serif;
}
body {
  background-repeat: no-repeat;
  background-image: url(pexels-shantumsingh-29528961.jpg);
  background-size: cover;
}

#div1 {
  background: linear-gradient(to right, #3761a3, #37a3a0);
  margin-left: 250px;
  display: inline-block;
  padding: 30px;
  margin-top: 350px;
  transition: all 0.3s ease;
}

#div2 {
  background: linear-gradient(to right, #a39837, #a36d37);
  display: inline-block;
  margin-left: 30px;
  padding: 30px;
  margin-top: 350px;
  transition: all 0.3s ease;
}

#div3 {
  background: linear-gradient(to right, #8e37a3, #4537a3);
  display: inline-block;
  margin-left: 30px;
  padding: 30px;
  margin-top: 350px;
  transition: all 0.3s ease;
}

.divs:hover {
  transform: scale(1.1);
  filter: blur(10px);
}

body .divs:hover {
  filter: blur(0);
}

#navbar {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  height: 60px;
  position: sticky;
}

a {
  color: rgb(8, 7, 7);
  text-decoration: none;
  margin-left: 20px;
  transform: scale(1);
  transition: all 0.3s ease;
  display: inline-block;
}

a:hover {
  transform: scale(1.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
